#Footer {
    background-color: $gray-6;
    color: $white;
    .info-list {
        list-style: none;
        padding: 0px;
        li {
            margin: 10px;
        }
        .info-list-icon {
            color: $yellow;
        }
    }
    .list {
        h3 {
            @media #{$mid_device} {
                font-size: 20px;
            }
            @media #{$tablet_device} {
                font-size: 16px;
            }
        }
        ul {
            li {
                a {
                    color: $white;
                    margin: 10px;
                    padding: 5px;
                    @media #{$mid_device} {
                        margin: 5px;
                        padding: 5px;
                    }
                    @media #{$tablet_device} {
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
        }
    }
    .footer-send-mail {
        input {
            height: 50px;
            border: 0px !important;
            border-radius: 0px;
        }
        span {
            background-color: $yellow;
            color: $white;
            border: 0px !important;
            border-radius: 0px;
        }
    }
    .icon {
        position: relative;
        text-align: center;
        width: 0px;
        height: 0px;
        padding: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -khtml-border-radius: 20px 20px 20px 20px;
        color: $white;
    }
    .icon i {
        font-size: 20px;
        position: absolute;
        left: 9px;
        top: 10px;
    }
    .icon.social {
        float: left;
        margin: 0 5px 0 0;
        cursor: pointer;
        background: $white;
        color: #262626;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .icon.social:hover {
        background: #262626;
        color: #6d6e71;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
        -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
        -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
        -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
        filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    }
    .icon.social.fb i {
        left: 13px;
        top: 10px;
    }
    .icon.social.tw i {
        left: 11px;
    }
    .icon.social.in i {
        left: 11px;
    }
}