@import 'home/bestPromotions';
@import 'home/destinations';
@import 'home/recomendsForYou';
.cover-bg {
    background-image: url('~@/assets/imgs/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.main_search_container {
    .main_search_container_child {
        background: #fff;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%);
    }
}

.flex-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .flex-item {
        flex-grow: 1;
        margin: 3px;
    }
}

.has-icon .form-control {
    padding-left: 2.375rem;
}

.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}