@import 'menu/burger';
@import 'menu/sidebar';
.hide-nav {
    display: none;
}

.bg-dark {
    background-color: #2D2D2D;
}

.header {
    height: 80px;
    width: 100%;
}

.nav-item {
    color: #9F9F9F;
    font-family: "Playfair Display";
    font-size: 16px;
    line-height: 21px;
    @media #{$mid_device} {
        font-size: 14px;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $yellow !important;
}


/*  */

.main-menu {
    text-align: left;
    ul {
        li {
            display: inline-block;
            position: relative;
            a {
                color: #2D2D2D;
                text-transform: capitalize;
                font-weight: 400;
                display: inline-block;
                padding: 5px 5px 5px 5px;
                position: relative;
                @media #{$mid_device} {
                    padding: 35px 8px 35px 8px;
                }
                i {
                    font-size: 9px;
                    @media #{$mobile_device} {
                        display: none !important;
                    }
                    @media #{$tablet_device} {
                        display: none !important;
                    }
                }
            }
            .submenu {
                position: absolute;
                left: 0;
                top: 140%;
                background: #fff;
                width: 200px;
                z-index: 999;
                box-shadow: 0 0 10px rgba(0, 0, 0, .02);
                border: 2px solid #ddd;
                opacity: 0;
                visibility: hidden;
                padding: 0px !important;
                @include transition(.6s);
                li {
                    display: block;
                    a {
                        padding: 8px 0px 8px 0px;
                        // margin-bottom: 10px;
                        font-size: 12px !important;
                        color: #2D2D2D;
                        position: inherit;
                        @include transition(.3s);
                        display: block;
                        &::before {
                            display: none;
                        }
                    }
                    &:hover a {
                        background: #2D2D2D;
                        color: #fff;
                    }
                }
            }
            &:hover>.submenu {
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
            &:hover>a::before {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }
}


/*  */