<template>
<div id="Footer" :class="{ 'hide-nav': hideFooter }" class="py-5">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="https://logodix.com/logo/2004164.png" class="img-fluid" style="max-width: 50%;">
            <ul class="info-list">
              <li class="my-3">
                <span class="info-list-icon">
                  <font-awesome-icon icon="map-marker-alt"/>
                  </span> 302 Wilburn Mountain Apt. 518
              </li>
              <li class="my-3">
                <span class="info-list-icon">
                  <font-awesome-icon icon="phone-square-alt"/>
                  </span> 685-290-5343
              </li>
              <li class="my-3">
                <span class="info-list-icon">
                  <font-awesome-icon icon="envelope"/>
                  </span> angel_olson@gmail.com
              </li>
            </ul>

          </div>
          <div class="col-md-2 list">
            <h3 class="my-3">our services</h3>
            <ul>
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Lorem Ipsum</a></li>
            </ul>

          </div>
          <div class="col-md-3 list">
            <h3 class="my-3">about us</h3>
            <ul>
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Lorem Ipsum</a></li>
            </ul>

          </div>
          <div class="col-md-4">
            <div class="input-group mb-4 footer-send-mail">
              <input type="text" class="form-control" placeholder="Enter Your Email">
              <div class="input-group-append">
                <span class="input-group-text px-5">send</span>
              </div>
            </div>
            <div class="mt-3">

            </div>
            <p>Follow Us</p>
            <div class='demopadding'>
                <div class='icon social fb'><i class='fa fa-facebook'></i></div>
                <div class='icon social tw'><i class='fa fa-twitter'></i></div>
                <div class='icon social in'><i class='fa fa-linkedin'></i></div>
              </div> 
          </div>
        </div>
      </div>
    </footer>
</div>
    
</template>

<script>

export default {
    name: 'Footer',
    data() {
      return {
        hideFooter: false
      }
    },
    computed: {
    },
    watch: {
        '$route' () {
        if (['Signup', 'Signin'].includes(this.$route.name)) {
            this.hideFooter = true
        }
        else {
            this.hideFooter = false
        }  
        }
    },
    
}
</script>

<style lang="scss">

</style>