<template>
<div :class="{ 'hide-nav': hideNav }">
    <!--  -->
    <sidebar>
        <div class="page-wrapper chiller-theme toggled">
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">

                    <div class="sidebar-brand">
                        <router-link to="/">
                            <img src="https://logodix.com/logo/2004164.png" style="width: 60px">
                        </router-link>
                        <div @click.prevent="toggle" id="close-sidebar">
                            <font-awesome-icon icon="times" />
                        </div>
                    </div>
                    <hr>

                    <div class="sidebar-menu">
                        <ul>
                        <li class="sidebar-dropdown">
                            <router-link to="/">
                                <span>Home</span>
                            </router-link>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Dashboard 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 3</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <router-link to="/profile/edit/about">
                                <span>Hotels</span>
                            </router-link>
                        </li>
                        <li class="sidebar-dropdown">
                            <router-link to="#">
                                <span>Promotions</span>
                            </router-link>
                        </li>
                        <li class="sidebar-dropdown">
                            <router-link to="/account/edit/account-info">
                                <span>Destinations</span>
                            </router-link>
                        </li>
                        <li class="sidebar-dropdown">
                            <router-link to="#">
                                <span>Voucher</span>
                            </router-link>
                        </li>
                        <li class="sidebar-dropdown">
                            <router-link to="#">
                                <span>About Us</span>
                            </router-link>
                        </li>
                        <li>
                            <hr>
                        </li>
                        
                        <li>
                            <a href="#">
                                <span>Documentation</span>
                                <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Examples</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                    
                </div>
                <!-- sidebar-content  -->

                <!-- <div class="sidebar-footer">
                    <a href="#">
                        <font-awesome-icon icon="bell" />
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>
                    
                    <a href="#">
                        <font-awesome-icon icon="comment" />
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    
                    <a href="#">
                        <font-awesome-icon icon="power-off" />
                    </a>
                </div> -->
            </nav>
        </div>
    </sidebar>
    <!--  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark header" >
        <div class="container">
            <router-link class="navbar-brand" to="/">
                <img src="https://logodix.com/logo/2004164.png" style="width: 60px">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
               <burger />
            </button>

            <div class="collapse navbar-collapse main-menu" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-2 active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item px-2">
                        <a class="nav-link" href="#">Hotels</a>
                    </li>

                    <li class="nav-item px-2">
                        <a href="#" class="nav-link dropdown-toggle">
                            Promotions
                        </a> 
                        <ul class="submenu text-center">
                            <li>
                                <a href="#">
                                    Link 1
                                </a>
                            </li> 
                            <li>
                                <a href="#">
                                    Link 2
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Link 3
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item px-2">
                        <a href="#" class="nav-link dropdown-toggle">
                            Destinations
                        </a> 
                        <ul class="submenu text-center">
                            <li>
                                <a href="#">
                                    Link 1
                                </a>
                            </li> 
                            <li>
                                <a href="#">
                                    Link 2
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Link 3
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item px-2">
                        <a class="nav-link" href="#">Voucher</a>
                    </li>

                    <li class="nav-item px-2">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    
                </ul>
                <div v-if="status.loggedIn" class="my-2 my-md-0">    
                    <button type="button" class="btn btn-link  px-4" >
                        <router-link to="/signup" style="color: #fff">{{user.name}}</router-link>
                    </button>
                    <button type="button" @click="logout" class="btn btn-outline-warning mx-2 px-4">
                        Logout
                    </button>
                </div>
                <div v-else class="my-2 my-md-0">                    
                    <button type="button" class="btn btn-link  px-4">
                        <router-link to="/signup" style="color: #fff">Signup</router-link>
                    </button>
                    <button type="button" class="btn btn-outline-warning mx-2 px-4">
                        <router-link to="/signin" style="color: #fff">Signin</router-link>
                    </button>
                </div>
                
            </div>
        </div>
    </nav>
</div>
    
</template>

<script>
import { mapState, mapActions } from 'vuex'
import burger from './menu/burger'
import sidebar from './menu/sidebar'

export default {
    data() {
      return {
        hideNav: false
      }
    },
    computed: {
        ...mapState('auth', ['status', 'user']),
    },
    watch: {
        '$route' () {
        if (['Signup', 'Signin'].includes(this.$route.name)) {
            this.hideNav = true
        }
        else {
            this.hideNav = false
        }  
        }
    },
    methods: {
        ...mapActions('auth', ['logout']),
        ...mapActions('menu', ['toggle'])
    },
}
</script>

<style lang="scss">

</style>