#burger {
    .burger-button {
        position: relative;
        height: 30px;
        width: 32px;
        display: block;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        pointer-events: all;
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        .burger-bar {
            background-color: $white;
            position: absolute;
            top: 50%;
            right: 6px;
            left: 6px;
            height: 2px;
            width: auto;
            margin-top: -1px;
            transition: transform .6s cubic-bezier(.165, .84, .44, 1), opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1);
        }
        .burger-bar--1 {
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
        }
        .burger-bar--2 {
            transform-origin: 100% 50%;
            transform: scaleX(.8);
        }
        .burger-bar--3 {
            transform: translateY(6px);
        }
        // &hover .burger-bar--2 {
        //     transform: scaleX(1) !important;
        // }
    }
    .burger-button:hover .burger-bar--2 {
        transform: scaleX(1);
    }
}

// .burger-button {
//     position: relative;
//     height: 30px;
//     width: 32px;
//     display: block;
//     z-index: 9999;
//     border: 0;
//     border-radius: 0;
//     background-color: transparent;
//     pointer-events: all;
//     transition: transform .6s cubic-bezier(.165,.84,.44,1);
// }
// .burger-bar {
//     background-color: #130f40;
//     position: absolute;
//     top: 50%;
//     right: 6px;
//     left: 6px;
//     height: 2px;
//     width: auto;
//     margin-top: -1px;
//     transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1);
// }
// .burger-bar--1 {
//     -webkit-transform: translateY(-6px);
//     transform: translateY(-6px);
// }
// .burger-bar--2 {
//     transform-origin: 100% 50%;
//     transform: scaleX(.8);
// }
// .burger-button:hover .burger-bar--2 {
//     transform: scaleX(1);
// }
// .no-touchevents .burger-bar--2:hover {
//     transform: scaleX(1);
// }
// .burger-bar--3 {
//     transform: translateY(6px);
// }
#burger.active .burger-button {
    transform: rotate(-180deg);
}

#burger.active .burger-bar {
    background-color: #ddd;
}

#burger.active .burger-bar--1 {
    transform: rotate(45deg)
}

#burger.active .burger-bar--2 {
    opacity: 0;
}

#burger.active .burger-bar--3 {
    transform: rotate(-45deg)
}