<template>
  <div class="home">
    <div class="jumbotron cover-bg" style="position: relative">
      <div class="main_search_container" >
        <div class="col-sm-8 col-sm-offset-2 mx-auto main_search_container_child" style="  ">
            <!--  -->
              <form>
                <div class="flex-container flex-baseline">
                  <div class="flex-item first">
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Jane Doe">
                  </div>
                  <div class="flex-item second">
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Jane Doe">
                  </div> 
                  <div class="flex-item third">
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Jane Doe">
                  </div> 
                  <div class="flex-item third">
                    <button type="button" class="btn btn-outline-warning mx-2 px-5">signin</button>
                  </div>   
                </div>
              </form>
            <!--  -->
        </div>
      </div>
    </div>

    <BestPromotions/>

    <Destinations/>

    <RecomendsForYou/>

  </div>
</template>

<script>
// @ is an alias to /src
import BestPromotions from '../components/Home/BestPromotions'
import Destinations from '../components/Home/Destinations'
import RecomendsForYou from '../components/Home/RecomendsForYou'


export default {
  name: 'Details',
  components: {
    BestPromotions,
    Destinations,
    RecomendsForYou
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
    changeClass(){
      if(this.rtl === true) {
        this.rtl = false
        document.body.classList.add("ltr")
        document.body.classList.remove("rtl")
      }else{
        this.rtl = true
        document.body.classList.add("rtl");
        document.body.classList.remove("ltr");
      } 
          
    }
  },
}
</script>

<style lang="scss">
  .cover-bg{
    background-image: url('~@/assets/imgs/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .main_search_container{
      .main_search_container_child{
        background: #fff;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%);        
      }
  }

  .flex-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .flex-item{
      flex-grow: 1;
      margin: 3px;
      
    }
  }

</style>
