<template>
  <div class="home">
    <div class="jumbotron cover-bg" style="position: relative">
      <div class="main_search_container" >
        <div class="col-sm-8 col-sm-offset-2 mx-auto main_search_container_child" style="  ">
            <!--  -->
              <form>
                <div class="flex-container flex-baseline">

                  <div>
                    <div class="has-icon">
                      <span class="form-control-feedback"><font-awesome-icon icon="map-marker-alt"/></span>
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                  </div>

                  <div>
                    <div class="has-icon">
                      <span class="form-control-feedback"><font-awesome-icon icon="calendar-alt"/></span>
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                  </div>

                  <div>
                    <div class="has-icon">
                      <span class="form-control-feedback"><font-awesome-icon icon="user"/></span>
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                  </div>

                  <div class="flex-item third">
                    <button type="button" class="btn btn-outline-warning mx-2 px-3">
                      <font-awesome-icon icon="search"/> signin
                    </button>
                  </div>   
                </div>
              </form>
            <!--  -->
        </div>
      </div>
    </div>

    <BestPromotions/>

    <Destinations/>

    <RecomendsForYou/>

    <OurPartner/>

    <TravelBlog/>

  </div>
</template>

<script>
// @ is an alias to /src
import BestPromotions from '../components/Home/BestPromotions'
import Destinations from '../components/Home/Destinations'
import RecomendsForYou from '../components/Home/RecomendsForYou'
import OurPartner from '../components/Home/OurPartner'
import TravelBlog from '../components/Home/TravelBlog'

export default {
  name: 'Home',
  components: {
    BestPromotions,
    Destinations,
    RecomendsForYou,
    OurPartner,
    TravelBlog
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  //   changeClass(){
  //     if(this.rtl === true) {
  //       this.rtl = false
  //       document.body.classList.add("ltr")
  //       document.body.classList.remove("rtl")
  //     }else{
  //       this.rtl = true
  //       document.body.classList.add("rtl");
  //       document.body.classList.remove("ltr");
  //     } 
          
  //   }
  },
}
</script>

<style lang="scss">
  

</style>
