<template>
  <div id="BestPromotions">
    <div class="container">
      <div class="row">
          <div class="col">
              <div class="flex-container flex-baseline">
                <div class="flex-item">
                   <h3>Best Promotions</h3>
                </div>
                <div class="flex-item">
                    <span class="filter">Combo</span>
                    <span class="filter">Hotels</span>
                </div>  
                <div class="flex-item">
                   <a style="float: right">view all</a>
                </div>  
            </div>
          </div>
      </div>
    </div>
    <BestPromotionsCard/>
  </div>
</template>

<script>
// @ is an alias to /src
import BestPromotionsCard from './BestPromotionsCard'

export default {
  name: 'BestPromotions',
  components: {
    BestPromotionsCard
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">
    

</style>
