<template>
  <div id="BestPromotionsCard">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4" style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text"> Cdc Issues Health Alert Notice For Travelers To Usa From Hon</p>
                        <span style="color: #999;display: ruby-text-container;font-size:12px"><font-awesome-icon icon="hotel"/> JW Mariot <starRating value="5" :disabled="true"></starRating></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4"  style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text"> Cdc Issues Health Alert Notice For Travelers To Usa From Hon</p>
                        <span style="color: #999;display: ruby-text-container;font-size:12px"><font-awesome-icon icon="hotel"/> JW Mariot <starRating value="5" :disabled="true"></starRating></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4"  style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text"> Cdc Issues Health Alert Notice For Travelers To Usa From Hon</p>
                        <span style="color: #999;display: ruby-text-container;font-size:12px"><font-awesome-icon icon="hotel"/> JW Mariot <starRating value="5" :disabled="true"></starRating></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import starRating from '../helpers/starRating'

export default {
  name: 'BestPromotionsCard',
  components: {
    starRating
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">


</style>
