<template>
    <div id="Destinations">
        <div class="container shows">
            <div class="row title-row">
                <div class="col">
                <div class="flex-container flex-baseline">
                    <div class="flex-item">
                    <h3>Destinations</h3>
                    </div>
                    <div class="flex-item">
                        <span class="filter">Vietnam</span>
                        <span class="filter">Myanmar</span>
                        <span class="filter">Thailand</span>
                        <span class="filter">Philippines</span>
                    </div>  
                    <div class="flex-item">
                    <a style="float: right">view all</a>
                    </div>  
                </div>
            </div>
            </div>
            
            <div class="row white slider-row" style="margin-top:20px">
                <div class="col-12 slider-col">
                    <div class="pSlider" :id="0" dir="ltr">
                        <div class="pPrev" @click="prev()">
                            <span>
                                <font-awesome-icon icon="chevron-left"/>
                            </span>
                        </div>

                        <carousel 
                            :autoplay="false"
                            :perPageCustom="[[320, 2], [767, 4], [1023, 4] ,[1199, 5]]"
                            :paginationEnabled="false"
                            paginationActiveColor="#60a58c"
                            :mouseDrag="true"
                            :navigationEnabled="true"
                            :scrollPerPage="false"
                            :loop="true"
                            :speed="500"
                            class="pSlides"
                        >
                            <slide v-for="(item, index) in obj" :key="index">
                                <div class="pSlide">
                                    <div class="show-shadow">
                                        <router-link :to="prepareMainLink(item)" style="cursor: pointer">
                                            <img src="//placeimg.com/290/180/any">
                                        </router-link>
                                    </div>

                                    <div class="show-details text-center">
                                        <p>
                                            <router-link :to="prepareMainLink(item)">{{ item.title }}</router-link>
                                        </p>
                                    </div>

                                </div>
                            </slide>
                            
                        </carousel>
                        
                        <div class="pNext" @click="next()">
                            <span>
                                <font-awesome-icon icon="chevron-right" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import JQuery from 'jquery'
let $ = JQuery;

export default {
    name: "Destinations",
    components: {
        Carousel,
        Slide,
    },
    data() {
        return {
            title: {
                'topViews': 'الأكثر مشاهده',
                'showNow': 'يعرض الآن',
                'recommended': 'مقترحة لك',
                'commingSoon': 'يعرض قريبا',
                'mostLikes': 'الأكثر تفضيلا',
                'heigRate': 'الأعلى تقييما'
            },
            show: false,
            active_el: null,
            obj: [
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 1'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 2'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 3'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 4'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 4'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 4'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 4'
                },
                {
                    img: '//placeimg.com/290/180/any',
                    title: 'slide 4'
                },
            ],
            slide_id: '0',
            slug: 'String',

        }
    },
    props: {
        // slide_id: String,
        // slug: String,
        // obj: [Object, Array]
        
    },
    methods: {
        next() {
            let nextButton = $('#' + this.slide_id).find('.VueCarousel-navigation-next')[0]
            nextButton.click()
        },
        prev() {
            let prevButton = $('#' + this.slide_id).find('.VueCarousel-navigation-prev')[0]
            prevButton.click()
        },
        prepareMainLink(item){
            // let app =this
            return `${item.title}link`
        },
        shbtoa(str){
            return btoa(str)
        },
    },
}
</script>

<style scoped lang="scss">
/* @import '../../assets/styles/components/HomeSlider'; */

</style>
