<template>
  <div id="OurPartner">
    <div class="container">
      <div class="row">
          <div class="col">
              <div class="flex-container flex-baseline">
                <div class="flex-item">
                   <h3>Our Partner</h3>
                </div>  
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="flex-container flex-baseline">
                <div class="flex-item">
                   <img src="https://pngimage.net/wp-content/uploads/2018/05/dummy-logo-png-1.png" class="img-fluid max-width: 100%;">
                </div>
                <div class="flex-item">
                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTamzHzqYzJ-e-_-bG1UNUQoxPkQoXvZooxipwF6ifXlf3jzumg&s" class="img-fluid max-width: 100%;">
                </div>
                <div class="flex-item">
                   <img src="https://bankingthefuture.com/wp-content/uploads/2019/04/dummylogo.jpg" class="img-fluid max-width: 100%;">
                </div>
                <div class="flex-item">
                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFizFMAApGUZknG4Q4DUNymtxBJDtMSD9MqFFjnt-LVa8DJK6WgA&s" class="img-fluid max-width: 100%;">
                </div>
                <div class="flex-item">
                   <img src="https://nichemodels.co/wp-content/uploads/2019/03/client-dummy-new.png" class="img-fluid max-width: 100%;">
                </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'OurPartner',
  data() {
    return {
      rtl: false
    }
  },
}
</script>

<style scoped lang="scss">
    #OurPartner{
        .flex-container {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .flex-item {
                flex-grow: 1;
                margin: 3px;
            }
        }
    }

</style>
