<template>
    <div id="RecomendsForYouCard">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="product">
                        <div class="img-container">
                            <img src="//placeimg.com/290/180/any">
                        </div>
                        <div class="product-info">
                            <div class="product-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
                                <span style="color: #999;display: ruby-text-container;font-size:12px"><starRating value="5" :disabled="true"></starRating></span>
                                <p>
                                    <span style="color: #999;display: ruby-text-container;font-size:16px">
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                    </span>
                                </p>
                                <button class="btn btn-primary px-4" style="background: #fff;border: 1px solid #ddd;color: #999"> Details </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product">
                        <div class="img-container">
                            <img src="//placeimg.com/290/180/any">
                        </div>
                        <div class="product-info">
                            <div class="product-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
                                <span style="color: #999;display: ruby-text-container;font-size:12px"><starRating value="5" :disabled="true"></starRating></span>
                                <p>
                                    <span style="color: #999;display: ruby-text-container;font-size:16px">
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                    </span>
                                </p>
                                <button class="btn btn-primary px-4" style="background: #fff;border: 1px solid #ddd;color: #999"> Details </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product">
                        <div class="img-container">
                            <img src="//placeimg.com/290/180/any">
                        </div>
                        <div class="product-info">
                            <div class="product-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
                                <span style="color: #999;display: ruby-text-container;font-size:12px"><starRating value="5" :disabled="true"></starRating></span>
                                <p>
                                    <span style="color: #999;display: ruby-text-container;font-size:16px">
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                    </span>
                                </p>
                                <button class="btn btn-primary px-4" style="background: #fff;border: 1px solid #ddd;color: #999"> Details </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="product">
                        <div class="img-container">
                            <img src="//placeimg.com/290/180/any">
                        </div>
                        <div class="product-info">
                            <div class="product-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
                                <span style="color: #999;display: ruby-text-container;font-size:12px"><starRating value="5" :disabled="true"></starRating></span>
                                <p>
                                    <span style="color: #999;display: ruby-text-container;font-size:16px">
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                        <b class="px-2"><font-awesome-icon icon="hotel"/></b>
                                    </span>
                                </p>
                                <button class="btn btn-primary px-4" style="background: #fff;border: 1px solid #ddd;color: #999"> Details </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import starRating from '../helpers/starRating'

export default {
  name: 'RecomendsForYouCard',
  components: {
      starRating
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">

</style>
