<template>
  <div id="RecomendsForYou">
    <div class="container">
      <div class="row">
          <div class="col">
              <div class="flex-container flex-baseline">
                <div class="flex-item">
                   <h3>Recomends for you</h3>
                </div>
                <div class="flex-item">
                    <span class="filter">Hotels/Resorts</span>
                    <span class="filter">Combo</span>
                    <span class="filter">Voucher</span>
                </div>  
                <div class="flex-item">
                   <a style="float: right">view all</a>
                </div>  
            </div>
          </div>
      </div>
    </div>
    <RecomendsForYouCard/>
  </div>
</template>

<script>
// @ is an alias to /src
import RecomendsForYouCard from './RecomendsForYouCard'

export default {
  name: 'RecomendsForYou',
  components: {
    RecomendsForYouCard
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">
   

</style>
