<template>
  <div id="BestPromotionsCard">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4" style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body px-0">
                        <b>From Wetlands To Canals And Dams Amsterdam Is Alive</b>
                        <p class="card-text pt-3" style="font-size:14px;color:#4C4C4C"> Travel Health Useful Medical Information For Good Health Be</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4"  style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body px-0">
                        <b>Cost Cutting Ideas For Your Wedding</b>
                        <p class="card-text pt-3" style="font-size:14px;color:#4C4C4C">Global Resorts Network Grn Putting Timeshares To Shame</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4"  style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body px-0">
                        <b>Getting Cheap Airfare For Last Minute Travel</b>
                        <p class="card-text pt-3" style="font-size:14px;color:#4C4C4C">Family Safari Vacation To The Home Of The Gods</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4" style="border: 0px">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body px-0">
                        <b>
                            New Ideas For A Low Cost Vacation On Water
                        </b>
                        <p class="card-text pt-3" style="font-size:14px;color:#4C4C4C">Will The Democrats Be Able To Reverse The Online Gambling Ban</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'TravelBlogCard',
  components: {
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">


</style>
