<template>
  <div id="BestPromotions">
    <div class="container mb-3">
      <div class="row">
          <div class="col">
              <div class="flex-container flex-baseline">
                <div class="flex-item">
                   <h3>TravelBlog</h3>
                </div>
                <div class="flex-item">
                    <span class="filter">Reviews</span>
                    <span class="filter">Destinations</span>
                    <span class="filter">Handbook</span>
                </div>  
                <div class="flex-item">
                   <a style="float: right">view all</a>
                </div>  
            </div>
          </div>
      </div>
    </div>
    <TravelBlogCard/>
  </div>
</template>

<script>
// @ is an alias to /src
import TravelBlogCard from './TravelBlogCard'

export default {
  name: 'TravelBlog',
  components: {
    TravelBlogCard
  },
  data() {
    return {
      rtl: false
    }
  },
  methods: {
  },
}
</script>

<style scoped lang="scss">
    

</style>
