<template>
    <div id="burger"
         :class="{ 'active' : isMenuOpen }"
         @click.prevent="toggle">
        <div>
            <button type="button" class="burger-button" title="Menu">
                <span class="burger-bar burger-bar--1"></span>
                <span class="burger-bar burger-bar--2"></span>
                <span class="burger-bar burger-bar--3"></span>
            </button>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
    export default {
        data: () => ({
            
        }),
        computed: {
            ...mapState({
                isMenuOpen: state => state.menu.isMenuOpen
            }),
        },
        methods: {
            ...mapActions('menu', ['toggle'])
        }
    }
</script>
<style lang="scss">


</style>