#BestPromotions {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .flex-item {
            flex-grow: 1;
            align-self: baseline;
            margin: 3px;
            .filter {
                color: #999;
                padding: 1rem;
                cursor: pointer;
                transition: all .250s ease-in-out;
                &:hover,
                &:focus,
                &:active {
                    color: #000;
                    font-weight: bold;
                    border-bottom: 2px solid rgb(255, 193, 7);
                }
            }
        }
    }
}