@mixin responsive($breakpoint) {
    @if $breakpoint==_1 {
        @media only screen and (min-width: 320px) and (max-width: 575.99px) {
            @content
        }
        ;
    }
    @if $breakpoint==_2 {
        @media only screen and (min-width: 576px) and (max-width: 767px) {
            @content
        }
        ;
    }
    @if $breakpoint==_3 {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            @content
        }
        ;
    }
    @if $breakpoint==_4 {
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            @content
        }
        ;
    }
    @if $breakpoint==_5 {
        @media only screen and (min-width: 1200px) {
            @content
        }
        ;
    }
}

// Extra large devices (large desktops, 1200px and up)
@include responsive(_5) {
    .shows {
        .title-row {
            .title-col {
                .title-p {
                    position: relative;
                    padding-bottom: 10px;
                    color: #fff !important;
                    .title-span {
                        position: absolute;
                        right: 25px;
                        top: -20px;
                        font-size: 23px;
                    }
                    .icon-span {
                        position: absolute;
                        left: 25px;
                        top: -20px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .slider-row {
            .slider-col {
                .pSlider {
                    width: 100%;
                    display: inline-block;
                    .pPrev {
                        padding-top: 30px;
                        width: 25px;
                        float: left;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            left: 1.5%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pNext {
                        padding-top: 30px;
                        width: 25px;
                        float: right;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            right: 2%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pSlides {
                        width: calc(100% - 50px);
                        //float: left;
                        white-space: nowrap;
                        overflow: hidden;
                        .pSlide {
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            img {
                                width: 80%;
                                height: 260px;
                                transition: all .3s ease-in-out !important;
                            }
                            h3 {
                                margin: 0;
                                font-weight: 300;
                                color: #707070;
                                white-space: pre-wrap;
                            }
                            div .channel {
                                color: #ddd
                            }
                            .show-shadow {
                                width: 100% !important;
                                display: inline-block !important;
                                position: relative !important;
                                -webkit-transition: box-shadow 0.2s ease-in !important;
                                -moz-transition: box-shadow 0.2s ease-in !important;
                                transition: box-shadow 0.2s ease-in !important;
                                img {
                                    max-width: 100% !important;
                                    position: relative !important;
                                    z-index: -1 !important;
                                }
                            }
                            .show-shadow:hover img {
                                width: 100% !important;
                                height: 250px !important;
                                border: 3px solid #a42727;
                                border-radius: 20%;
                                border-radius: 5%;
                            }
                            .show-details {
                                position: relative;
                                bottom: 55px;
                                p {
                                    margin-bottom: 0px;
                                    a {
                                        cursor: pointer;
                                        color: white;
                                        text-shadow: 0px 5px 10px #a42727, 15px 20px 20px #a42727, 5px 5px 20px #a42727;
                                        text-align: center;
                                        padding: 5px 0px;
                                        text-decoration: none;
                                         :hover {
                                            color: #a42727 !important;
                                        }
                                    }
                                }
                                .more-button {
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                    color: #fff !important;
                                    font-size: 18px;
                                    transition: all .3s ease-in-out !important;
                                     :hover {
                                        color: #a42727 !important;
                                        // font-size: 15px ;
                                        // margin-bottom: 10px !important;
                                    }
                                }
                                .active {
                                    color: #a42727 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter,
    .fade-leave-to/* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    .white {
        color: #fff !important;
    }
}

// Large devices (desktops, 992px and up)
@include responsive(_4) {
    .shows {
        .title-row {
            .title-col {
                .title-p {
                    position: relative;
                    padding-bottom: 10px;
                    color: #fff !important;
                    .title-span {
                        position: absolute;
                        right: 25px;
                        top: -20px;
                        font-size: 23px;
                    }
                    .icon-span {
                        position: absolute;
                        left: 25px;
                        top: -20px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .slider-row {
            .slider-col {
                .pSlider {
                    width: 100%;
                    display: inline-block;
                    .pPrev {
                        padding-top: 30px;
                        width: 25px;
                        float: left;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            left: 1.5%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pNext {
                        padding-top: 30px;
                        width: 25px;
                        float: right;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            right: 2%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pSlides {
                        width: calc(100% - 50px);
                        //float: left;
                        white-space: nowrap;
                        overflow: hidden;
                        .pSlide {
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            img {
                                width: 80%;
                                height: 260px;
                                transition: all .3s ease-in-out !important;
                            }
                            h3 {
                                margin: 0;
                                font-weight: 300;
                                color: #707070;
                                white-space: pre-wrap;
                            }
                            div .channel {
                                color: #ddd
                            }
                            .show-shadow {
                                width: 100% !important;
                                display: inline-block !important;
                                position: relative !important;
                                -webkit-transition: box-shadow 0.2s ease-in !important;
                                -moz-transition: box-shadow 0.2s ease-in !important;
                                transition: box-shadow 0.2s ease-in !important;
                                img {
                                    max-width: 100% !important;
                                    position: relative !important;
                                    z-index: -1 !important;
                                }
                            }
                            .show-shadow:hover img {
                                width: 100% !important;
                                height: 250px !important;
                                border: 3px solid #a42727;
                                border-radius: 20%;
                                border-radius: 5%;
                            }
                            .show-details {
                                position: relative;
                                bottom: 55px;
                                p {
                                    margin-bottom: 0px;
                                    a {
                                        cursor: pointer;
                                        color: white;
                                        text-shadow: 0px 5px 10px #a42727, 15px 20px 20px #a42727, 5px 5px 20px #a42727;
                                        text-align: center;
                                        padding: 5px 0px;
                                        text-decoration: none;
                                         :hover {
                                            color: #a42727 !important;
                                        }
                                    }
                                }
                                .more-button {
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                    color: #fff !important;
                                    font-size: 18px;
                                    transition: all .3s ease-in-out !important;
                                     :hover {
                                        color: #a42727 !important;
                                        // font-size: 15px ;
                                        // margin-bottom: 10px !important;
                                    }
                                }
                                .active {
                                    color: #a42727 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter,
    .fade-leave-to/* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    .white {
        color: #fff !important;
    }
}

// Medium devices (tablets, 768px and up)
@include responsive(_3) {
    .shows {
        .title-row {
            .title-col {
                .title-p {
                    position: relative;
                    padding-bottom: 10px;
                    color: #fff !important;
                    .title-span {
                        position: absolute;
                        right: 25px;
                        top: -20px;
                        font-size: 23px;
                    }
                    .icon-span {
                        position: absolute;
                        left: 25px;
                        top: -20px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .slider-row {
            .slider-col {
                .pSlider {
                    width: 100%;
                    display: inline-block;
                    .pPrev {
                        padding-top: 30px;
                        width: 25px;
                        float: left;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            left: 1.5%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pNext {
                        padding-top: 30px;
                        width: 25px;
                        float: right;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            right: 2%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pSlides {
                        width: calc(100% - 50px);
                        //float: left;
                        white-space: nowrap;
                        overflow: hidden;
                        .pSlide {
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            img {
                                width: 80%;
                                height: 260px;
                                transition: all .3s ease-in-out !important;
                            }
                            h3 {
                                margin: 0;
                                font-weight: 300;
                                color: #707070;
                                white-space: pre-wrap;
                            }
                            div .channel {
                                color: #ddd
                            }
                            .show-shadow {
                                width: 100% !important;
                                display: inline-block !important;
                                position: relative !important;
                                -webkit-transition: box-shadow 0.2s ease-in !important;
                                -moz-transition: box-shadow 0.2s ease-in !important;
                                transition: box-shadow 0.2s ease-in !important;
                                img {
                                    max-width: 100% !important;
                                    position: relative !important;
                                    z-index: -1 !important;
                                }
                            }
                            .show-shadow:hover img {
                                width: 100% !important;
                                height: 250px !important;
                                border: 3px solid #a42727;
                                border-radius: 20%;
                                border-radius: 5%;
                            }
                            .show-details {
                                position: relative;
                                bottom: 55px;
                                p {
                                    margin-bottom: 0px;
                                    a {
                                        cursor: pointer;
                                        color: white;
                                        text-shadow: 0px 5px 10px #a42727, 15px 20px 20px #a42727, 5px 5px 20px #a42727;
                                        text-align: center;
                                        padding: 5px 0px;
                                        text-decoration: none;
                                         :hover {
                                            color: #a42727 !important;
                                        }
                                    }
                                }
                                .more-button {
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                    color: #fff !important;
                                    font-size: 18px;
                                    transition: all .3s ease-in-out !important;
                                     :hover {
                                        color: #a42727 !important;
                                        // font-size: 15px ;
                                        // margin-bottom: 10px !important;
                                    }
                                }
                                .active {
                                    color: #a42727 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter,
    .fade-leave-to/* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    .white {
        color: #fff !important;
    }
}

// Small devices (landscape phones, 576px and up)
@include responsive(_2) {
    .shows {
        .title-row {
            .title-col {
                .title-p {
                    position: relative;
                    padding-bottom: 10px;
                    color: #fff !important;
                    .title-span {
                        position: absolute;
                        right: 25px;
                        top: -20px;
                        font-size: 23px;
                    }
                    .icon-span {
                        position: absolute;
                        left: 25px;
                        top: -20px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .slider-row {
            .slider-col {
                .pSlider {
                    width: 100%;
                    display: inline-block;
                    .pPrev {
                        padding-top: 30px;
                        width: 25px;
                        float: left;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            left: 1.5%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pNext {
                        padding-top: 30px;
                        width: 25px;
                        float: right;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            right: 2%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pSlides {
                        width: calc(100% - 50px);
                        //float: left;
                        white-space: nowrap;
                        overflow: hidden;
                        .pSlide {
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            img {
                                width: 80%;
                                height: 260px;
                                transition: all .3s ease-in-out !important;
                            }
                            h3 {
                                margin: 0;
                                font-weight: 300;
                                color: #707070;
                                white-space: pre-wrap;
                            }
                            div .channel {
                                color: #ddd
                            }
                            .show-shadow {
                                width: 100% !important;
                                display: inline-block !important;
                                position: relative !important;
                                -webkit-transition: box-shadow 0.2s ease-in !important;
                                -moz-transition: box-shadow 0.2s ease-in !important;
                                transition: box-shadow 0.2s ease-in !important;
                                img {
                                    max-width: 100% !important;
                                    position: relative !important;
                                    z-index: -1 !important;
                                }
                            }
                            .show-shadow:hover img {
                                width: 100% !important;
                                height: 250px !important;
                                border: 3px solid #a42727;
                                border-radius: 20%;
                                border-radius: 5%;
                            }
                            .show-details {
                                position: relative;
                                bottom: 55px;
                                p {
                                    margin-bottom: 0px;
                                    a {
                                        cursor: pointer;
                                        color: white;
                                        text-shadow: 0px 5px 10px #a42727, 15px 20px 20px #a42727, 5px 5px 20px #a42727;
                                        text-align: center;
                                        padding: 5px 0px;
                                        text-decoration: none;
                                         :hover {
                                            color: #a42727 !important;
                                        }
                                    }
                                }
                                .more-button {
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                    color: #fff !important;
                                    font-size: 18px;
                                    transition: all .3s ease-in-out !important;
                                     :hover {
                                        color: #a42727 !important;
                                        // font-size: 15px ;
                                        // margin-bottom: 10px !important;
                                    }
                                }
                                .active {
                                    color: #a42727 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter,
    .fade-leave-to/* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    .white {
        color: #fff !important;
    }
}

// Small devices (landscape phones, 430px and up)
@include responsive(_1) {
    .shows {
        .title-row {
            .title-col {
                .title-p {
                    position: relative;
                    padding-bottom: 10px;
                    color: #fff !important;
                    .title-span {
                        position: absolute;
                        right: 25px;
                        top: -20px;
                        font-size: 18px;
                    }
                    .icon-span {
                        position: absolute;
                        left: 25px;
                        top: -20px;
                        font-size: 23px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .slider-row {
            .slider-col {
                .pSlider {
                    width: 100%;
                    display: inline-block;
                    .pPrev {
                        padding-top: 30px;
                        width: 25px;
                        float: left;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            left: 1.5%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pNext {
                        padding-top: 30px;
                        width: 25px;
                        float: right;
                        color: #909090;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover {
                            color: #666;
                        }
                        span {
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            cursor: pointer;
                            // border: 1px solid #a42727;
                            // border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            color: #fff !important;
                            line-height: 35px;
                            font-size: 25px;
                            z-index: 1;
                            position: absolute;
                            top: 35%;
                            right: 2%;
                            &:hover {
                                color: #a42727 !important;
                            }
                        }
                    }
                    .pSlides {
                        width: calc(100% - 50px);
                        //float: left;
                        white-space: nowrap;
                        overflow: hidden;
                        .pSlide {
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            img {
                                width: 80%;
                                height: 200px;
                                transition: all .3s ease-in-out !important;
                            }
                            h3 {
                                margin: 0;
                                font-weight: 300;
                                color: #707070;
                                white-space: pre-wrap;
                            }
                            div .channel {
                                color: #ddd
                            }
                            .show-shadow {
                                width: 100% !important;
                                display: inline-block !important;
                                position: relative !important;
                                -webkit-transition: box-shadow 0.2s ease-in !important;
                                -moz-transition: box-shadow 0.2s ease-in !important;
                                transition: box-shadow 0.2s ease-in !important;
                                img {
                                    max-width: 100% !important;
                                    position: relative !important;
                                    z-index: -1 !important;
                                }
                            }
                            .show-shadow:hover img {
                                width: 100% !important;
                                height: 190px !important;
                                border: 3px solid #a42727;
                                border-radius: 20%;
                                border-radius: 5%;
                            }
                            .show-details {
                                position: relative;
                                bottom: 55px;
                                p {
                                    margin-bottom: 0px;
                                    a {
                                        font-size: 12px;
                                        font-weight: bold;
                                        cursor: pointer;
                                        color: white;
                                        text-shadow: 0px 5px 10px #a42727, 15px 20px 20px #a42727, 5px 5px 20px #a42727;
                                        text-align: center;
                                        padding: 5px 0px;
                                        text-decoration: none;
                                         :hover {
                                            color: #a42727 !important;
                                        }
                                    }
                                }
                                .more-button {
                                    //display: none;
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                    color: #fff !important;
                                    font-size: 18px;
                                    transition: all .3s ease-in-out !important;
                                     :hover {
                                        color: #a42727 !important;
                                        // font-size: 15px ;
                                        // margin-bottom: 10px !important;
                                    }
                                }
                                .active {
                                    color: #a42727 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter,
    .fade-leave-to/* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    .white {
        color: #fff !important;
    }
}