#RecomendsForYou {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .flex-item {
            flex-grow: 1;
            align-self: baseline;
            margin: 3px;
            .filter {
                color: #999;
                padding: 1rem;
                cursor: pointer;
                transition: all .250s ease-in-out;
                &:hover,
                &:focus,
                &:active {
                    color: #000;
                    font-weight: bold;
                    border-bottom: 2px solid rgb(255, 193, 7);
                }
            }
        }
    }
}

#RecomendsForYouCard {
    .container .product {
        /* width: 610px; */
        height: 250px;
        display: flex;
        margin: 1em 0;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        /* box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15); */
        transition: all .1s ease-in-out;
    }
    .container .product:hover {
        box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
    }
    .container .product .img-container {
        flex: 3;
    }
    .container .product .img-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .container .product .product-info {
        background: #fff;
        flex: 3;
    }
    .container .product .product-info .product-content {
        padding: .2em 0 .2em 1em;
    }
    .container .product .product-info .product-content h1 {
        font-size: 1.5em;
    }
    .container .product .product-info .product-content p {
        color: #636363;
        font-size: .9em;
        font-weight: bold;
        width: 90%;
    }
    .container .product .product-info .product-content ul li {
        color: #636363;
        font-size: .9em;
        margin-left: 0;
    }
    .container .product .product-info .product-content .buttons {
        padding-top: .4em;
    }
    .container .product .product-info .product-content .buttons .button {
        text-decoration: none;
        color: #5e5e5e;
        font-weight: bold;
        padding: .3em .65em;
        border-radius: 2.3px;
        transition: all .1s ease-in-out;
    }
    .container .product .product-info .product-content .buttons .add {
        border: 1px #5e5e5e solid;
    }
    .container .product .product-info .product-content .buttons .add:hover {
        border-color: #6997b6;
        color: #6997b6;
    }
    .container .product .product-info .product-content .buttons .buy {
        border: 1px #5e5e5e solid;
    }
    .container .product .product-info .product-content .buttons .buy:hover {
        border-color: #6997b6;
        color: #6997b6;
    }
    .container .product .product-info .product-content .buttons #price {
        margin-left: 4em;
        color: #5e5e5e;
        font-weight: bold;
        border: 1px solid rgba(137, 137, 137, 0.2);
        background: rgba(137, 137, 137, 0.04);
    }
}