<template>
  <div id="app">
    <navbar></navbar>
    <router-view/>
    <Footer></Footer>
  </div>
</template>

<script>
import navbar from './components/layout/Navbar'
import Footer from './components/layout/Footer'
import { mapState, mapActions } from 'vuex'

export default {
    name: 'App',
    data() {
      return {
        
      }
    },
    components: {
      navbar,
      Footer
    },
    created() {
      
    },
    computed: {
        ...mapState({
            alert: state => state.alert
        }),
    },
    watch: {
      alert: {
        handler(val, oldVal){
          console.log(val);
          this.$toasted.show(val.message, { 
            theme: "toasted-primary", 
            position: "top-center", 
            duration : 5000
          });
          this.clearAlert()
        },
        deep: true
      }
    },
    methods: {
        ...mapActions({
            clearAlert: 'alert/clear' 
        })
    },
}
</script>


<style lang="scss">
  @import './assets/styles/app.scss';

</style>
