$font_path: '~@/assets/fonts/';

@font-face {
    font-family: "Playfair_Display";
    src: local("Playfair_Display"), local("Playfair_Display"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-Black.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-Bold.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-ExtraBold.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-Italic.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-Medium.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-MediumItalic.ttf") format("truetype"),
        url($font_path+"Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
        // url($font_path+"Playfair_Display/PlayfairDisplay-SemiBold.ttf") format("truetype"),
        // url($font_path+"Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
  }
