$white: #FFFFFF;
$gray-1: #D8D8D8;
$gray-2: #BBBBBB;
$gray-3: #9F9F9F;
$gray-4: #666666;
$gray-5: #4C4C4C;
$gray-6: #2D2D2D;
$black-1: #000000;
$yellow: #E0AD1E;
$red: #FF0000;
$medium_device: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';